@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}

form input, button {
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
}

form button {
    background-color: blue;
    color: white;
    cursor: pointer;
    font-weight: 700;
}